<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.travailler.cafe.dao.CafeInfoMapperDao">

    <resultMap id="resultCafeInfo" type="com.travailler.cafe.entity.CafeInfoEntity">
        <result property="ca_seq"              column="CA_SEQ"   />
        <result property="user_seq"            column="USER_SEQ" />
        <result property="cate_seq"            column="CATE_SEQ" />
        <result property="ca_url"              column="CA_URL"   />
        <result property="ca_name"             column="CA_NAME"  />
        <result property="ca_public_yn"        column="CA_PUBLIC_YN"  />
        <result property="ca_topic"            column="CA_TOPIC" />
        <result property="ca_area"             column="CA_AREA"  />
        <result property="ca_tag"              column="CA_TAG"   />
        <result property="ca_create_date"      column="CA_CREATE_DATE"/>
        <result property="ca_desc"             column="CA_DESC"  />
        <result property="ca_img"              column="CA_IMG"   />
    </resultMap>

    <insert id="insertCafeInfo">
        INSERT INTO CAFE_INFO(CA_SEQ, USER_SEQ, CATE_SEQ, CA_URL, CA_NAME, CA_PUBLIC_YN, CA_TOPIC, CA_AREA, CA_TAG, CA_CREATE_DATE, CA_DESC, CA_IMG)
             VALUES (CAFE_INFO_SEQ.NEXTVAL, #{user_seq}, #{cate_seq}, #{ca_url}, #{ca_name}, #{ca_public_yn}, #{ca_topic}, #{ca_area}, CAFE_TAG_SEQ.NEXTVAL, SYSDATE,  #{ca_desc}, #{ca_img})
    </insert>

    <resultMap id="resultCommonCode" type="com.travailler.common.entity.CommonCodeEntity">
        <result property="com_id"              column="COM_ID"        />
        <result property="com_parent_id"       column="COM_PARENT_ID" />
        <result property="com_order"           column="COM_ORDER"     />
        <result property="com_value"           column="COM_VALUE"     />
        <result property="com_comment"         column="COM_COMMENT"   />
    </resultMap>

    <select id="selectCommonCode" resultMap="resultCommonCode">
        SELECT COM_ID
             , COM_VALUE
          FROM COMMON_CODE
         WHERE COM_PARENT_ID = #{p_id}
    </select>
</mapper>
