# Directories #
/build/
/bin/
target/
out/

# OS Files #
.DS_Store

*.class

# Package Files #
*.jar
*.war
*.ear
*.db

# Eclipse #
.project
.metadata
.classpath
.settings/
.loadpath

# Intellij #
.idea/
*.iml
rebel.xml

bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
local.properties
/src/main/resources/rebel.xml